<?xml version="1.0" encoding="UTF-8"?>
<suite name="Softline Yandex Passport Test Suite" parallel="false">
 	<listeners>
		<listener class-name="com.softline.yatest.common.log.TestngListener" />
	</listeners>
	<parameter name="webDriverURL"
		value="http://yatestsoftline:7d052911-4f6d-4ddc-93c4-624e7494c029@ondemand.saucelabs.com:80/wd/hub" />
	<parameter name="firefoxVersion" value="5" />
	<parameter name="firefoxPlatform" value="xp" />
	<test name="Authorisation Test">
		<classes>
			<class name="com.softline.yatest.tests.login.LoginTest" />
		</classes>
	</test>
</suite>
